<app-dashborad-navbar
(projectListViewEvent)="handleProjectListViewEvent($event)"
[activeNavbar]="toViewvScreen"></app-dashborad-navbar>

<div>
    <app-survay-types 
    [toViewvScreen]="toViewvScreen"
    [serviceList]="serviceList"
    (activeservice)="handleactiveservice($event)"
    (deactiveservice)="handledeactiveservice($event)"></app-survay-types>
</div>


<app-project-list
[toViewvScreen]="toViewvScreen"
(closeSidePopUpEvent)="handleCloseSidePopUpEvent($event)">
</app-project-list>

<div *ngIf="openActiveServicePopUp">
    <app-service-request-view 
    [selectedserviceToActive]="selectedserviceToActive"
    (closeActiveServicePopUpEvent)="closeActiveServicePopUpEvent($event)"
    (sendServiceActiveRequest)="sendServiceActiveRequest($event)"
    

></app-service-request-view>
</div>
