<div class="sign-up-main">

    <div class="Eternia-label-main">
        
            <img class="Eternia-Icon" src="assets/imgs/eternia-logo.png"/>
            <h1 class="Eternia-label-text">
                Eternia Windows
            </h1>
    </div>

    <div class="sign-up-block">

        <div class="sign-up container">
            <span class="login-sec">
                <span class="have-acc">Don’t have an account?</span>
                <a class="login-btn" (click)="openSignUpPage()">Sign up</a>

            </span>
            <h1 class="create-account-btn">Log in</h1>
            <span style="padding-left: 32px;
            padding-right: 32px;">
                <div class="signup-field">
                    <span class="enter-email">
                        <label *ngIf="enterEmailFlag" class="Email-address-label" for="Email-address">Email address</label>
                        <label *ngIf="!enterEmailFlag" class="Email-address-label" for="Email-address">Enter OTP</label>
                        <br />
                        <input *ngIf="enterEmailFlag" [(ngModel)]="emailId" id="Email-address" width="100%" type="text">
                        <input *ngIf="!enterEmailFlag" [ngClass]="wrongOtpFlag ? 'wrong-otp-class':''" [(ngModel)]="userEmailOtp" id="Email-address" width="100%" type="text">
                        <span class="emptyEmail" *ngIf="emptyEmailFlag">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 16 16"><path fill="red" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2a1 1 0 0 0 0-2"/></svg>  
                            <span class="mx-1">User doesn't exist! <a class="login-btn" (click)="openSignUpPage()">Sign up</a></span>
                        </span>

                        <div class="forget-pwd-sec">

                            <a>
                                <span class="forgot-email-label">Forgot email ?</span>
                                <span style="color: red; padding: 20px;" *ngIf="userDetails!=undefined">User OTP: {{generateOtp}}</span>
                            </a>
                        </div>
                    </span>
                  
                    <span class="signup-next-btn" [ngClass]="emailId.length==0 ? 'disableEail-btn':''" *ngIf="enterEmailFlag" (click)="doNext()">Next</span>
                    <span class="signup-next-btn" *ngIf="!enterEmailFlag" (click)="doSignUp()">Sign In</span>


                </div>
            </span>
            <hr class="hr-line">

            <div class="footer-signup-opton">
                <div class="other-signup-label">
                    <span class="other-signup-label-text">
                        Or sign up with
                    </span>
                </div>

                <span class="signup-sso-btn signup-next-btn">
                    <img src="assets/imgs/key-icon.png" alt="img" height="17px" width="17px">
                    <b class="mx-1">
                        SSO
                    </b>
                </span>


                <div class="other-signup-icons">
                    <a class="signup-icons-block"
                        href="https://auth-us.surveymonkey.com/authorize?state=hKFo2SAtY1dEdy1DbjdpNHB5WWxSSllac3VMVjlaZDZhVDRuSaFupWxvZ2luo3RpZNkgRXQtWnd2N0pDRUhhRkhDMGowbFNva0F3UnpMclZNWTCjY2lk2SBzQTM0RFVtUUE0RUlySkM3cTlRdVBDZjFUNzc4QmZMdg&client=sA34DUmQA4EIrJC7q9QuPCf1T778BfLv&protocol=oauth2&prompt=login&scope=openid+profile+email&redirect_uri=https%3A%2F%2Fwww.surveymonkey.com%2Flogin%2Fcallback&ut_ctatext=Sign+up+free&ut_source=templates&ut_source2=customer-satisfaction-survey-template&ut_source3=desktop-header-cta&sm.amp_did=b3a1bdbd-4eb7-41c7-8433-9d643ff799d0&sm.amp_sid=1702271123304&sm.show=sign-up&sm.locale=en&sm.country=IN&sm.subdomain=www&response_type=code&response_mode=query&nonce=clJpckh4VEhCVUVBNHZTNTRKSVNBdWQyNU9lYjhnUDVsVHI4Q2YwdzRhUw%3D%3D&code_challenge=mkedhgRvBBh2HkMVv63t36_W_KG_4HapyVFPCEZh83E&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjIuMC4xIn0%3D&connection=windowslive">
                        <span class="signup-icons-section-1">
                            <span class="signup-icon">
                                <img src="assets/imgs/microsoft-icon.jpg" height="30px" width="30px"
                                    alt="">
                            </span>
                            <span class="signup-label">
                                <span class="signup-labe-text">
                                    Microsift
                                </span>
                            </span>
                        </span>
                    </a>
                    <a class="signup-icons-block"
                        href="https://auth-us.surveymonkey.com/authorize?state=hKFo2SAtY1dEdy1DbjdpNHB5WWxSSllac3VMVjlaZDZhVDRuSaFupWxvZ2luo3RpZNkgRXQtWnd2N0pDRUhhRkhDMGowbFNva0F3UnpMclZNWTCjY2lk2SBzQTM0RFVtUUE0RUlySkM3cTlRdVBDZjFUNzc4QmZMdg&client=sA34DUmQA4EIrJC7q9QuPCf1T778BfLv&protocol=oauth2&prompt=login&scope=openid+profile+email&redirect_uri=https%3A%2F%2Fwww.surveymonkey.com%2Flogin%2Fcallback&ut_ctatext=Sign+up+free&ut_source=templates&ut_source2=customer-satisfaction-survey-template&ut_source3=desktop-header-cta&sm.amp_did=b3a1bdbd-4eb7-41c7-8433-9d643ff799d0&sm.amp_sid=1702271123304&sm.show=sign-up&sm.locale=en&sm.country=IN&sm.subdomain=www&response_type=code&response_mode=query&nonce=clJpckh4VEhCVUVBNHZTNTRKSVNBdWQyNU9lYjhnUDVsVHI4Q2YwdzRhUw%3D%3D&code_challenge=mkedhgRvBBh2HkMVv63t36_W_KG_4HapyVFPCEZh83E&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjIuMC4xIn0%3D&connection=windowslive">
                        <span class="signup-icons-section-1">
                            <span class="signup-icon">
                                <img src="assets/imgs/facebook-icon.jpg" height="30px" width="30px"
                                    alt="">
                            </span>
                            <span class="signup-label">
                                <span class="signup-labe-text">
                                    Facebook
                                </span></span>
                        </span>
                    </a>
                    <a class="signup-icons-block"
                        href="https://auth-us.surveymonkey.com/authorize?state=hKFo2SAtY1dEdy1DbjdpNHB5WWxSSllac3VMVjlaZDZhVDRuSaFupWxvZ2luo3RpZNkgRXQtWnd2N0pDRUhhRkhDMGowbFNva0F3UnpMclZNWTCjY2lk2SBzQTM0RFVtUUE0RUlySkM3cTlRdVBDZjFUNzc4QmZMdg&client=sA34DUmQA4EIrJC7q9QuPCf1T778BfLv&protocol=oauth2&prompt=login&scope=openid+profile+email&redirect_uri=https%3A%2F%2Fwww.surveymonkey.com%2Flogin%2Fcallback&ut_ctatext=Sign+up+free&ut_source=templates&ut_source2=customer-satisfaction-survey-template&ut_source3=desktop-header-cta&sm.amp_did=b3a1bdbd-4eb7-41c7-8433-9d643ff799d0&sm.amp_sid=1702271123304&sm.show=sign-up&sm.locale=en&sm.country=IN&sm.subdomain=www&response_type=code&response_mode=query&nonce=clJpckh4VEhCVUVBNHZTNTRKSVNBdWQyNU9lYjhnUDVsVHI4Q2YwdzRhUw%3D%3D&code_challenge=mkedhgRvBBh2HkMVv63t36_W_KG_4HapyVFPCEZh83E&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjIuMC4xIn0%3D&connection=windowslive">
                        <span class="signup-icons-section-1">
                            <span class="signup-icon">
                                <img src="assets/imgs/linkedin-icon.png" height="30px" width="30px"
                                    alt="">
                            </span>
                            <span class="signup-label">
                                <span class="signup-labe-text">
                                    LinkedIn
                                </span>
                            </span>
                        </span>
                    </a>

                    <a class="signup-icons-block"
                        href="https://auth-us.surveymonkey.com/authorize?state=hKFo2SAtY1dEdy1DbjdpNHB5WWxSSllac3VMVjlaZDZhVDRuSaFupWxvZ2luo3RpZNkgRXQtWnd2N0pDRUhhRkhDMGowbFNva0F3UnpMclZNWTCjY2lk2SBzQTM0RFVtUUE0RUlySkM3cTlRdVBDZjFUNzc4QmZMdg&client=sA34DUmQA4EIrJC7q9QuPCf1T778BfLv&protocol=oauth2&prompt=login&scope=openid+profile+email&redirect_uri=https%3A%2F%2Fwww.surveymonkey.com%2Flogin%2Fcallback&ut_ctatext=Sign+up+free&ut_source=templates&ut_source2=customer-satisfaction-survey-template&ut_source3=desktop-header-cta&sm.amp_did=b3a1bdbd-4eb7-41c7-8433-9d643ff799d0&sm.amp_sid=1702271123304&sm.show=sign-up&sm.locale=en&sm.country=IN&sm.subdomain=www&response_type=code&response_mode=query&nonce=clJpckh4VEhCVUVBNHZTNTRKSVNBdWQyNU9lYjhnUDVsVHI4Q2YwdzRhUw%3D%3D&code_challenge=mkedhgRvBBh2HkMVv63t36_W_KG_4HapyVFPCEZh83E&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjIuMC4xIn0%3D&connection=windowslive">
                        <span class="signup-icons-section-1">
                            <span class="signup-icon">
                                <img src="assets/imgs/google-icom.jpg" height="30px" width="30px" alt="">
                            </span>
                            <span class="signup-label">
                                <span class="signup-labe-text">
                                    Google
                                </span>
                            </span>
                        </span>
                    </a>

                    <a class="signup-icons-block"
                        href="https://auth-us.surveymonkey.com/authorize?state=hKFo2SAtY1dEdy1DbjdpNHB5WWxSSllac3VMVjlaZDZhVDRuSaFupWxvZ2luo3RpZNkgRXQtWnd2N0pDRUhhRkhDMGowbFNva0F3UnpMclZNWTCjY2lk2SBzQTM0RFVtUUE0RUlySkM3cTlRdVBDZjFUNzc4QmZMdg&client=sA34DUmQA4EIrJC7q9QuPCf1T778BfLv&protocol=oauth2&prompt=login&scope=openid+profile+email&redirect_uri=https%3A%2F%2Fwww.surveymonkey.com%2Flogin%2Fcallback&ut_ctatext=Sign+up+free&ut_source=templates&ut_source2=customer-satisfaction-survey-template&ut_source3=desktop-header-cta&sm.amp_did=b3a1bdbd-4eb7-41c7-8433-9d643ff799d0&sm.amp_sid=1702271123304&sm.show=sign-up&sm.locale=en&sm.country=IN&sm.subdomain=www&response_type=code&response_mode=query&nonce=clJpckh4VEhCVUVBNHZTNTRKSVNBdWQyNU9lYjhnUDVsVHI4Q2YwdzRhUw%3D%3D&code_challenge=mkedhgRvBBh2HkMVv63t36_W_KG_4HapyVFPCEZh83E&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjIuMC4xIn0%3D&connection=windowslive">
                        <span class="signup-icons-section-1">
                            <span class="signup-icon">
                                <img src="assets/imgs/apple-icon.png" height="30px" width="30px" alt="">
                            </span>
                            <span class="signup-label">
                                <span class="signup-labe-text">
                                    Apple
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>