
<app-navbar (openSideBarEvent)="openSideBarEvent($event)" (applyServiceFilter)="applyServiceFilter($event)"
    (applyServiceSearch)="applyServiceSearch($event)"
    (openRequiredVied)="openRequiredVied($event)"
    (openPrizeCard)="openRequiredVied($event)">
</app-navbar>

<!-- <app-home-screen></app-home-screen> -->

<div class="col" style="padding: 0px;" [ngClass]="openSidebarFlag? 'openSideMenu':''">
    <app-service-list [appliedFilterBy]="appliedFilterBy"
     [openServiceListFlag]="openServiceListFlag"
     [toView]="toView"
    [appliedSearch]="appliedSearch">
    </app-service-list>
</div>



