<div class="navbar-main">
    <div class="navbar-options-section">

        <span class="hamburger-section" (click)="toggleSideMenu()">
            <i class="bi bi-list" *ngIf="!openSideMenueFlag" ></i>
            <i class="bi bi-x-lg" *ngIf="openSideMenueFlag"></i>
        </span>

        <span class="eternia-logi-Icon">
            <img src="assets/imgs/eternia-logo.png" height="20px" alt="">
        </span>
        <div class="nav-container">
            
            

            <nav class="left-nav-options" style="margin-left: 16px;"> 
                <ul class="left-nav-option-group">
                    <li>
                        <a class="nav-home-btn" (click)="openHomePage()" [ngClass]="activeNavbar==''?'active-nav-btn' :''">Home</a>
                    </li>
                    <li>
                        <a class="nav-paln-pricing-btn" [ngClass]="activeNavbar=='prize-list'?'active-nav-btn' :''" (click)="openProjectListView('prize-list')" >Plans & Pricing</a>
                    </li>
                    <li>
                        <a class="nav-paln-pricing-btn" [ngClass]="activeNavbar=='request-history'?'active-nav-btn' :''" (click)="openProjectListView('request-history')">Request</a>
                    </li>
                    <li>
                        <a class="nav-paln-pricing-btn" [ngClass]="activeNavbar=='admin-approvals'?'active-nav-btn' :''" *ngIf="userDetails.userRole.role=='admin'" (click)="openProjectListView('admin-approvals')">Approvals</a>
                    </li>
                </ul>
            </nav>
    
            <nav class="right-nav-options" style="margin-left: 16px;"> 

                <span class="upgrade-create-survay-section">
                    <a class="upgrade-btn" >Upgrade</a>
                    <a class="create-survay" >Create survey</a>
                </span>


                <span class="menue-btn-block" >
                    <span class="menue-btn" (click)="openProjectListView('project list')" [ngClass]="activeNavbar=='project list' ? 'addNav-btn-bdr':''">
                        <i class="bi bi-x-diamond-fill" style="font-size: 24px;"></i>
                        <!-- https://docs.google.com/spreadsheets/d/14j5qvtfmqwNY60bPZYiksXpX_21l-5RHPSF4pdrrq_s/edit#gid=1853787037 -->
                        <!-- <img src="../../../../assets/imgs/bento-icon.png" height="20px" width="30px" alt=""> -->
                    </span>
                </span>
                <span class="notification-btn-block">
                    <span class="notification-btn" (click)="openProjectListView('notification')" [ngClass]="activeNavbar=='notification' ? 'addNav-btn-bdr':''">
                        <!-- <i class="bi bi-bell"></i> -->
                        <i class="bi bi-bell" style="font-size: 24px;"></i>
                        <!-- https://docs.google.com/spreadsheets/d/14j5qvtfmqwNY60bPZYiksXpX_21l-5RHPSF4pdrrq_s/edit#gid=1853787037 -->
                        <!-- <img src="../../../../assets/imgs/bento-icon.png" height="20px" width="30px" alt=""> -->
                    </span>
                </span>


                <span class="Question-btn-block">
                    <span class="question-btn" (click)="openProjectListView('help')" [ngClass]="activeNavbar=='help' ? 'addNav-btn-bdr':''">
                        <!-- <i class="bi bi-bell"></i> -->
                        <i class="bi bi-question-circle-fill" style="font-size: 24px;"></i>
                        <!-- https://docs.google.com/spreadsheets/d/14j5qvtfmqwNY60bPZYiksXpX_21l-5RHPSF4pdrrq_s/edit#gid=1853787037 -->
                        <!-- <img src="../../../../assets/imgs/bento-icon.png" height="20px" width="30px" alt=""> -->
                    </span>
                </span>

                <span class="profile-email-section" (click)="openProfileDroupDown()" >
                    <span class="profile-email-btn">{{userDetails ? userDetails.email:'email not found'}}
                        <span style="margin-left: 8px;">
                            <i class="bi bi-caret-down-fill" style="font-size: 19px;"></i>
                        </span>
                    </span>
                    <span class="profile-droupdown" *ngIf="showProfileDroupDownFlag">
                        <span class="prf-droupdown-contain">
                            <ul class="droupdown-list-container">
                                <li class="profile-droupdown-option-block">
                                    <a class="droupdown-option">My Account</a>
                                </li>
                                <li>
                                    <a class="droupdown-option" >Library</a>
                                </li>
                                <li>
                                    <a class="droupdown-option" >Contact</a>
                                </li>
                                <li>
                                    <a class="droupdown-option" (click)="signOut()" >Sign Out</a>
                                </li>
                               
                            </ul>
                        </span>
                    </span>
                </span>

                <!-- <ul class="left-nav-option-group">
                    <li>
                        <a class="nav-home-btn">Home</a>
                    </li>
                    <li>
                        <a class="nav-paln-pricing-btn" href="">Plans & Pricing</a>
                    </li>
                </ul> -->
    
    
            </nav>
        </div>
        
    </div>
</div>


<div class="side-menue-section" [ngClass]="openSideMenueFlag?'show':'hide'">
    <div class="sidemenue-bloc">
        <ul class="nav-left-option-section">
            <li style="cursor: pointer;
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);">
                <a class="menue-left-option" (click)="openProjectListView('')">
                    <span class="menu-option-label"> <b>Home</b></span>
                </a>
            </li>
            <li style="cursor: pointer;
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);">
                <a class="menue-left-option" (click)="openProjectListView('prize-list')">
                    <span class="menu-option-label"> <b>Plans & Pricing</b></span>
                </a>
            </li>

            <li style="cursor: pointer;
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);">
                <a class="menue-left-option" (click)="openProjectListView('request-history')">
                    <span class="menu-option-label"> <b>Request</b></span>
                </a>
            </li>

            <li *ngIf="userDetails.userRole.role=='admin'" style="cursor: pointer; 
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);">
                <a class="menue-left-option" (click)="openProjectListView('admin-approvals')">
                    <span class="menu-option-label"> <b>Request</b></span>
                </a>
            </li>
           
        </ul>

        <ul class="nav-left-option-section notification-menue-btn">
            <li style="cursor: pointer;
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);">
                <a class="menue-left-option">
                    <span class="menu-option-label"> <b>Notification Center</b></span>
                </a>
            </li>
        </ul>
        <ul class="nav-left-option-section product-menue-btn">
            <li style="cursor: pointer;
            
            border-bottom: 1px solid rgb(208, 210, 211);">
                <div class="productNav-btn-option" (click)="togleProductList()" >
                    <span class="menu-nav-label"> <b>Products</b></span>
                    <span class="menue-exp-btn">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </div>
                <ul class="menu-product-list" [ngClass]="!showProductListFlag ? '':'hide'">
                    <li *ngFor="let product of productList">
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>{{product.title}}</b>
                            </span>
                        </span>
                    </li>
                </ul>

            </li>


            
        </ul>
        <ul class="nav-left-option-section help-menu-btn">
            <li style="cursor: pointer;
            
            border-bottom: 1px solid rgb(208, 210, 211);">
                <div class="productNav-btn-option" (click)="togleHelpList()" >
                    <span class="menu-nav-label"> <b>Help</b></span>
                    <span class="menue-exp-btn">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </div>
                <ul class="menu-help-list" [ngClass]="!showHelpListFlag ? '':'hide'">
                    <li >
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>Help Center</b>
                            </span>
                        </span>
                    </li>
                    <li >
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>Curiosity at Work</b>
                            </span>
                        </span>
                    </li>
                </ul>

            </li>


            
        </ul>

        <ul class="nav-left-option-section side-menue-profile-drowpdown">
            <li style="cursor: pointer;
            
            border-bottom: 1px solid rgb(208, 210, 211);">
                <div class="productNav-btn-option" (click)="toggleUserDrowpdown()" >
                    <span class="menu-nav-label"> <b>{{userDetails ? userDetails.email:'email not found'}}
                    </b></span>
                    <span class="menue-exp-btn">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </div>
                <ul class="menu-user-profile-drowpdown" [ngClass]="!showUserProfileOptionFlag ? '':'hide'">
                    <li >
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>MY Account</b>
                            </span>
                        </span>
                    </li>
                    <li >
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>Library</b>
                            </span>
                        </span>
                    </li>
                    <li >
                        <span class="menue-product-btn">
                            <span class="product-btn-label">
                                <b>Contact</b>
                            </span>
                        </span>
                    </li>
                </ul>

            </li>


            
        </ul>

        
        <ul class="nav-left-option-section signOut-sideMenu-btn">
            <li style="cursor: pointer;
            border-left: 8px solid transparent;
            border-bottom: 1px solid rgb(208, 210, 211);" (click)="signOut()">
                <a class="menue-left-option" >
                    <span class="menu-option-label"> <b>Sign Out</b></span>
                </a>
            </li>
            </ul>



    </div>
</div>

<div *ngIf="openSideMenueFlag" class="mask-drawing">

</div>

<app-error-alert [showErrorAlertFlag]="showErrorAlertFlag"
[AlertMessage]="alertMessage"></app-error-alert>

<app-success-alert [showSuccesAlertFlag]="showSuccessAlertFlag"
 [alertMessage]="alertMessage"></app-success-alert>