<div class="service-explore-main">
    <div class="container"  >
    <h2 class="choose-plan">Choose a plan that works for you</h2>

    <ul class="plan-group">
        <li class="plan-group-option" [ngClass]="selectedPlanOption=='Team Plans'? 'selected' :''" (click)="selectedPlanOption='Team Plans'" >Team Plans</li>
        <li class="plan-group-option" [ngClass]="selectedPlanOption=='Individual Plans'? 'selected' :''" (click)="selectedPlanOption='Individual Plans'">Individual Plans</li>
        <li class="plan-group-option" [ngClass]="selectedPlanOption=='Enterprise'? 'selected' :''" (click)="selectedPlanOption='Enterprise'" >Enterprise</li>

    </ul>
        <div class="prize-card-container" #scrollToPrizeView>
        <div class="card-container" *ngIf="selectedPlanOption=='Team Plans'">
            <div class="card card-1">
              <div class="header-content">
                <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                    ₹1,550
                </span>
                    <span>/ user / month</span>
                </div>
                <span>Starting at 3 users, billed annually</span>
    
                <div class="card-button">
                    <span class="bye-button">SIGN UP</span>
                </div>
    
                <div class="prize-offer-description">
                    <ul>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                    </ul>
                </div>
            </div>
            <div class="card card-2">
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                      ₹1,550
                  </span>
                      <span>/ user / month</span>
                  </div>
                  <span>Starting at 3 users, billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-1">SIGN UP</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
    
    
              <div class="card card-3">
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                      ₹1,550
                  </span>
                      <span>/ user / month</span>
                  </div>
                  <span>Starting at 3 users, billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-2">CONTACT US</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-container" *ngIf="selectedPlanOption=='Individual Plans'">
            <div class="card card-1">
              <div class="header-content">
                <span style="display: inline; font-size: 31px; font-weight: 600;">Premier Annual
                    ₹4,999/
                </span>
                    <span>/ month
                        </span>
                </div>
                <span>₹59,988 billed annually</span>
    
                <div class="card-button">
                    <span class="bye-button" style="background-color: #05467E;">SIGN UP</span>
                </div>
    
                <div class="prize-offer-description">
                    <ul>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                    </ul>
                </div>
            </div>
           <!-- <div style="min-height: 500px"> -->
            <div class="card card-2" >
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Advantage Annual
                    ₹1,999
                    
                  </span>
                      <span>/ month</span>
                  </div>
                  <span>₹23,988 billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-1">SIGN UP</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
           <!-- </div> -->
    
    
              <div class="card card-3">
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Standard Monthly
                    ₹899
                  </span>
                      <span>/ month</span>
                  </div>
                  <span>10788 billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-2">CONTACT US</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
          </div>

        </div>


        

    </div>

    <div class="Enterprise-plans-Main" *ngIf="selectedPlanOption=='Enterprise'">

        <div class="row">
            <div class="col col-md-12 col-lg-6" >
                  <span class="footer-content" style="padding-top: 10px;">
                    <h4 class="Enterprise-title" style="margin-top: 5px;">Contact us today</h4>
                    <p class="Enterprise-desc">Discover powerful survey data and API integrations that put feedback right where you need it.</p>
                    <ul>
                    <li class="Enterprise-desc">Discover powerful survey data and API integrations that put feedback right where you need it.</li>
                    <li class="Enterprise-desc">Discover powerful survey data and APIre you need it.</li>
                    <li class="Enterprise-desc">Discover powerful survey data and API integrations that put feedback right where you need it.</li>
                    <li class="Enterprise-desc">Discover powerful survey data and API integrations that put feneed it.</li>

                    </ul>
                  </span>
                  
              
            </div>
            <div class=" col-md-12 col-lg-6 " style="padding-bottom: 25px; text-align: center;">
                <span class="Enterprise-form">

                    <div class="form-content">

                        <div class="content">
                            <label class="input-field" for="first-name">First Name</label>
                        <br/>
                            <input class="input-field" id="first-name" type="text">
                        </div>

                        <div class="content">
                            <label for="last-name">Last Name</label>
                            <br/>
                            <input class="input-field" type="text">
                        </div>

                        <div class="content">
                            <label for="bussiess-email">Business email *</label>
                            <br/>
                            <input class="input-field" id="bussiess-email" type="email">
                        </div>

                        <div class="content">
                            <label for="bussiess-email">Job title *</label>
                            <br/>
                            <input class="input-field" id="bussiess-email" type="email">
                        </div>

                        <div class="content">
                            <label for="Company">Company *</label>
                            <br/>
                            <input class="input-field" id="Company" type="email">
                        </div>

                        <div class="content">
                            <label for="Phone-number">Phone number *</label>
                            <br/>
                            <input class="input-field" id="Phone-number" type="email">
                        </div>
                    </div>
                <span class="form-btn">Contact sales</span>

                </span>

            </div>
            
          </div>

    </div>

    <div class="footer-containt">

        <div class="row">
            <div class="col col-md-12 col-lg-6" >
                  <span class="footer-content">
                    <h4 class="product-title">Integrate survey data into your favorite apps</h4>
                    <p >Discover powerful survey data and API integrations that put feedback right where you need it.</p>
                    <p >Discover powerful survey data and API integrations that put feedback right where you need it.</p>
                    
                  </span>
                  
              
            </div>
            <div class=" col-md-12 col-lg-6 ">
                <span class="footer-content">
                    <h4 class="product-title">Integrate survey data into your favorite apps</h4>
                    <p >Discover powerful survey data and API integrations that put feedback right where you need it.</p>
                    <p >Discover powerful survey data and API integrations that put feedback right where you need it.</p>
                  </span>
            </div>
            
          </div>

    </div>

    </div>


    