<div class="service-explore-main">

    <div class="container"  >
        <div class="prize-card-container" #scrollToPrizeView>
        <div class="card-container">
            <div class="card card-1">
              <div class="header-content">
                <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                    ₹1,550
                </span>
                    <span>/ user / month</span>
                </div>
                <span>Starting at 3 users, billed annually</span>
    
                <div class="card-button">
                    <span class="bye-button">SIGN UP</span>
                </div>
    
                <div class="prize-offer-description">
                    <ul>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                        <li>fd gd fjsg</li>
                    </ul>
                </div>
            </div>
            <div class="card card-2">
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                      ₹1,550
                  </span>
                      <span>/ user / month</span>
                  </div>
                  <span>Starting at 3 users, billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-1">SIGN UP</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
    
    
              <div class="card card-3">
                <div class="header-content">
                  <span style="display: inline; font-size: 31px; font-weight: 600;">Team Advantage
                      ₹1,550
                  </span>
                      <span>/ user / month</span>
                  </div>
                  <span>Starting at 3 users, billed annually</span>
      
                  <div class="card-button">
                      <span class="bye-button-2">CONTACT US</span>
                  </div>
      
                  <div class="prize-offer-description">
                      <ul>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                          <li>fd gd fjsg</li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
    </div>
    </div>