
<div class="product-explore-mainView">
    <div class="row">
      <div class="col col-md-12 col-lg-6" style="padding-left: 10%; padding-top: 5%;">
        <span class="left-containts" >
            <h1 class="product-title">Integrate survey data into your favorite apps</h1>
            
            <p style="color: #FFFFFF;">Discover powerful survey data and API integrations that put feedback right where you need it.</p>
            <span class="btn-container d-flex">
                <span class="btn-contact-sales mx-2">
                    Contact sales
                </span>
                <span class="btn-explore-app">
                    Explore the app directory
                </span>
            </span>
        </span>
      </div>
      <div class=" col-md-12 col-lg-6 text-end">
        <span class="right-containts"  >
            <!-- <span class="rightside-img"></span> -->
            <img class="rightside-img" style="padding-top: 35px;" src="../../../../../assets/imgs/hero-map-mp-data-api-integrations.webp" alt="Description of the image">
        </span>
      </div>
      
    </div>
    </div>



  <div class="total-offer-pane">
    <h1 class="offer-message">
        We offer 175+ data and API integrations that turn feedback into action
    </h1>

    <h5>Explore how automated integration of survey data from customers, employees, and your markets can give your apps—and your business—a boost.</h5>
  </div>


  <div class="Integrate-surveys">
    <div class="row">
      <div class="col col-md-12 col-lg-6" style="padding-left: 5%; padding-top: 1%;">
        <span class="Integrate-surveys-title" >
            <h3 class="survay-title">Integrate surveys with your CRM to power better customer experiences</h3>
            <ul>
                <li class="Integrate-description">
                    <strong>Connect survey results  </strong>with existing alesforce, Hubspot or other CRM, to create a holistic customer view.
                </li>
                <li class="Integrate-description">
                    <strong>Connect survey results with</strong> existing customer data using our integration CRM, to create a holistic customer view.
                </li>
                <li class="Integrate-description">
                    <strong>Connect survey reesforce, Hubspot or</strong> other CRM, to create a holistic customer view.
                </li>
                <li class="Integrate-description">
                    <strong>Connect survey results with existing customer</strong> data using our integration for Salesforce, Hubspot or other CRM, to create a holistic customer view.
                </li>
            </ul>
            
        </span>
      </div>
      <div class=" col-md-12 col-lg-6 text-end">
        <span class="right-containts">
            <!-- <span class="rightside-img"></span> -->
            <img class="rightside-img" src="../../../../../assets/imgs/crm-integration-mp-data-api-integrations.webp" alt="Description of the image">
        </span>
      </div>
      
    </div>
    </div>

    <div class="Integrate-surveys">
        <div class="row">
          
          <div class=" col-md-12 col-lg-6 text-end">
            <span class="left-containts">
                <img class="rightside-img" src="../../../../../assets/imgs/integrations-roi-mp-data-api-integrations.webp" alt="Description of the image">
            </span>
          </div>

          <div class="col col-md-12 col-lg-6" style="padding-left: 5%; padding-top: 1%;">
            <span class="Integrate-surveys-title" >
                <h3 class="survay-title">Integrate surveys with your CRM to power better customer experiences</h3>
                <ul>
                    <li class="Integrate-description">
                        <strong>Connect survey results  </strong>with existing alesforce, Hubspot or other CRM, to create a holistic customer view.
                    </li>
                    <li class="Integrate-description">
                        <strong>Connect survey results with</strong> existing customer data using our integration CRM, to create a holistic customer view.
                    </li>
                    <li class="Integrate-description">
                        <strong>Connect survey reesforce, Hubspot or</strong> other CRM, to create a holistic customer view.
                    </li>
                    <li class="Integrate-description">
                        <strong>Connect survey results with existing customer</strong> data using our integration for Salesforce, Hubspot or other CRM, to create a holistic customer view.
                    </li>
                </ul>
                
            </span>
          </div>
          
        </div>
        </div>

    <p class="explore-productivity">
        <a href="https://www.surveymonkey.com/apps/categories/productivity/?ut_source=mp&ut_source2=data-api-integrations&ut_source3=inline">Explore productivity and collaboration integrations > </a>
    </p>

    

    <div class="parent-div">

        <div class="servicelist">
            <div class="row d-flex row-cols-1 row-cols-sm-2 row-cols-md-4" style="text-align: center;">
    
                <div class="col-lg-4 col-md-4 col-sm-6  my-1 mx-0">
                    <div class="card" style="width: 18rem; min-height: 23rem;">
                        <img src="../../../../../assets/imgs/related-content-salesforce-mp-data-api-integrations.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <a href="#" class="btn btn-primary">View More</a>
                        </div>
                      </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6  my-1 mx-0">
                    <div class="card" style="width: 18rem; min-height: 23rem;">
                        <img src="../../../../../assets/imgs/related-content-salesforce-mp-data-api-integrations.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Salesforce</h5>
                          <a href="#" class="btn btn-primary"> View More</a>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6  my-1 mx-0">
                    <div class="card" style="width: 18rem; min-height: 23rem;">
                        <img src="../../../../../assets/imgs/related-content-salesforce-mp-data-api-integrations.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Salesforce</h5>
                          <a href="#" class="btn btn-primary">View More</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>

    </div>

