<div class="sign-up-main">
    <div class="sign-up-block">
        <div class="sign-up container">
            <span class="login-sec">
                <span class="have-acc">Already have an account?</span>
            <a  class="login-btn">logi in</a>

            </span>


            <span class="create-account-btn">Create an account</span>
            <span style="padding-left: 32px;
            padding-right: 32px;">
                <div class="signup-field">
                    <span class="enter-email">
                        <label class="Email-address-label" for="Email-address">Email address</label>
                        <br/>
                        <input id="Email-address" width="100%" type="text">
                    </span>
                    <span class="signup-condition-1">
                        <input class="signup-condition-checkbox-1" type="checkbox">
                        <span class="tcondition-1">You agree to the 
                            <a class="" style="text-decoration: none;" href="https://www.surveymonkey.com/mp/legal/terms-of-use/" target="_blank">
                                Terms of Use</a>
                                 and 
                                 <a class="" style="text-decoration: none;" href="https://www.surveymonkey.com/mp/legal/privacy/" target="_blank">
                                    Privacy Notice</a>.
                                </span>
                    </span>
    
                    <span class="signup-condition-1">
                        <input class="signup-condition-checkbox-1" type="checkbox">
                        <span class="tcondition-1">You agree to receive product news and special promotions via email. You can opt-out of these emails in your My Account page anytime.
                    </span>
                    </span>
                    <span class="signup-next-btn">Next</span>
    
                </div>
            </span>
        <hr class="hr-line">
        </div>
    </div>

</div>
