/* You can add global styles to this file, and also import other style files */

body {
    font-family: Lato Regular;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: left;
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    font-style: normal;
}