/* sidebar.component.css */

.sidebar {
    height: 100%;
    width: 17vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    padding-top: 36px;
    /* z-index: 9; */
  }
  
  .sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }
  
  .sidebar ul li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
  }
  
  .sidebar ul li a:hover {
    background-color: #444;
  }
  



.sidebar.hide{
    display: none;
}