<nav class="navbar navbar-expand-lg">
  <i class="bi bi-list navbar-menue-icon" *ngIf="!openSidebarFlag" (click)="openSideManu(true)"></i>
  <i class="bi bi-x-lg navbar-menue-icon" *ngIf="openSidebarFlag" (click)="openSideManu(false)"></i>

  <a class="navbar-name" href="#">Eternia Windows</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" id="navbar-toggler-btn" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
    </ul>
    <ul class="navbar-nav " style="padding-left: 20px;cursor: pointer;">

      <a class="navbar-option" [ngClass]="toview=='product'? 'active':''" (click)="toggleprize('product')">
        Product
        <i class="bi bi-chevron-down up-down-arrow" *ngIf="toview!='product'"></i>
        <i class="bi bi-chevron-up up-down-arrow" *ngIf="toview=='product'"></i>
      </a>

      <a class="navbar-option"  [ngClass]="toview=='service'? 'active':''"
        (click)="toggleprize('service')">Service
        <i class="bi bi-chevron-down up-down-arrow" *ngIf="toview!='service'"></i>
        <i class="bi bi-chevron-up up-down-arrow" *ngIf="toview=='service'"></i>
      </a>

      <a class="navbar-option" [ngClass]="toview=='explore-prize' ? 'active':''"
        (click)="toggleprize('explore-prize')">Pricing
        <i class="bi bi-chevron-down up-down-arrow" *ngIf="toview!='explore-prize'"></i>
        <i class="bi bi-chevron-up up-down-arrow" *ngIf="toview=='explore-prize'"></i>
      </a>

      <a class="navbar-option" [ngClass]="toview=='Enterprise' ? 'active':''"
        (click)="toggleprize('')">Enterprise
        <i class="bi bi-chevron-down up-down-arrow" *ngIf="!togglePrizeFlag"></i>
        <i class="bi bi-chevron-up up-down-arrow" *ngIf="togglePrizeFlag"></i>
      </a>

      <a class="navbar-option" [ngClass]="toview=='Resources' ? 'active':''"
        (click)="toggleprize('')">Resources
        <i class="bi bi-chevron-down up-down-arrow" *ngIf="!togglePrizeFlag"></i>
        <i class="bi bi-chevron-up up-down-arrow" *ngIf="togglePrizeFlag"></i>
      </a>


    </ul>
    
    <ul class="navbar-nav my-2 my-lg-0 right-nav-btn-group" style="">
      <i class="bi bi-globe cutom-style-globe " ></i>
     
      <a class="contact-sales"  href="https://www.surveymonkey.com/mp/contact-sales/">Contact Sales</a>

      <span class="log-in-btn" (click)="openSignInPage()">Log in</span>


      <span class="Sign-up-free" (click)="openSignUpPage()">Sign up free</span>

     <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle cutom-style" id="user-profile" role="button" data-toggle="dropdown" aria-expanded="false">
       rahul@gmail.com
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  >Active</a>
        <a class="dropdown-item"  >Deactive</a>
        <a class="dropdown-item" >All</a>
      </div>
    </li> -->

    </ul>

  </div>
</nav>